<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="HOME_LOG" value="C:/notification_service_logs/notification_service.log"/>

    <!-- Appender для консоли (вывод в stdout) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender для файла (оставьте, если нужен) -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логи для вашего пакета (можно оставить DEBUG) -->
    <logger name="ru.alimovdev" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <!-- Логи для актуатора и Spring Web (чтобы видеть запросы к /actuator/health) -->
    <logger name="org.springframework.boot.actuate" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Корневой уровень – теперь только один, пишем INFO в консоль и файл -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>